.container {
  background-color: #e5e5e5;
  position: fixed;
  width: 180px;
  height: 100%;
  left: 0;
  top: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .image {
    position: relative;
    top: 50px;
    width: 180px;
    height: 70px;
    margin-bottom: 100px;
  }

  .pages {
    margin-top: 25px;
    margin-bottom: 25px;

    span {
      position: relative;
      left: 25px;
      margin-top: 150px;
      color: black;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: green;
      }
    }
  }

  a {
    color: black;
  }

  .fab {
    margin-left: 45px;
    font-size: 20px;
    margin-top: 25px;
    cursor: pointer;
    justify-content: center;
  }

  .fa-linkedin:hover,
  .fa-github:hover {
    color: #0072b1;
  }
}
